extends layout

block content

  h1= title

  .filter-heading
    ul
      li.filters
        a(href='#') Cuisine
      li.filters
        a(href='#') Hours

  .main
    each office in ['Office1', 'Office2', 'Office3', 'Office4', 'Office5']
      +meeting-office(office)

mixin meeting-office(name)
  .office
    .description
      h2= name
      p RATING
      p LOCATION
      p MEETING ADJOURNS AT 5PM

    .office-image
      img(src='img/meeting-room-small.jpg', alt='office')
