.main {
    margin: 20px;
}

.office {
    clear: both;
    border-top: 1px #333 solid;
    padding: 10px;
}

.description {
    clear: left;
    float: left;
}

.office-image {
    clear: right;
    float: right;
    padding-top: 10px;
}

.filter-heading {
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {
            display: inline;
        }
    }
}

.filters {
    padding: 10px;
    background-color: lightgray;
}
